/MLP/mlp_model.npz
/MLP/__pycache__
/aibasis assignments/lab1/mnist
/aibasis assignments/lab2/data
/aibasis assignments/lab3/data
/aibasis assignments/lab3/checkpoints
/aibasis assignments/lab4/data
/aibasis assignments/lab4/__pycache__
/aibasis assignments/lab4/.vscode
/aibasis assignments/lab4/.DS_Store
/aibasis assignments/lab5/.DS_Store
/aibasis assignments/lab5/utils/queens_bfs_dfs
/aibasis assignments/lab5/.vscode